.navbar-nav a{
    font-size:20px;
    color: black!important;
}
.navbar-nav li{
    padding:15px;
}
.my-navbar{
    background-color:rgb(250, 233, 233);
}
.navbar-nav a:hover{
    color:rgb(226, 78, 78)!important;
}