.header-img img{
    width:100%;
}
.header{
    background-color: rgb(94, 92, 92);
    line-height:20px;
}
.header h1{
    font-size:70px;
}
#outsource{
    color:rgb(160, 120, 120);
}
.header{
    background-image: url('../../../photos/banerBg.jpg');
    background-position: center;
}